@font-face {
  font-family: "Mulish-Black";
  src: url(./Mulish-Black.ttf);
}
@font-face {
  font-family: "Mulish-BlackItalic";
  src: url(./Mulish-BlackItalic.ttf);
}
@font-face {
  font-family: "Mulish-ExtraBold";
  src: url(./Mulish-ExtraBold.ttf);
}
@font-face {
  font-family: "Mulish-Light";
  src: url(./Mulish-Light.ttf);
}
